@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1200px; 
}

.content {
    flex-basis: 50%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    background: linear-gradient(
        90deg,
        rgba(255,255,255, 1) 70%
        rgba(255, 255, 255, 0) 120%
    );
}

.description{
    font-size: 30px;
    margin-bottom: 52px;
}

.contactBtn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.images {
    flex-basis: 40%; 
    max-width: 100%; 
    height: auto;    
    object-fit: cover; 
    border-radius: 10px; 
    margin-left: 20px; 
}

.downloadBtn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .downloadBtn:hover {
    background-color: #0056b3; 
  }
  
@media screen and (max-width: 830px) {

    .container{
        flex-direction: column-reverse;
    }

    .content{
        align-items: center;
    }
    
}